<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ titulo }}</title>
  </head>

  <body>
    <h1>Bienvenidos a la clase del profe Henry by Kyrbot</h1>

    <p>
      Si estas viendo esto, ya diste un primer paso en programacion:
      tu aplicacion esta corriendo y Flask pudo mostrar una pagina HTML.
    </p>

    <p>
      Hoy empezamos simple, pero con una idea poderosa:
      cada gran programa arranca con una primera linea de codigo.
    </p>

    <hr />

    <p>
      Primer objetivo cumplido: crear el entorno y levantar el servidor.
    </p>

    <p>
      En esta clase aprendimos muchas cosas y aunque no es facil,
      tampoco es imposible.
    </p>

    <p>
      Ahora este proyecto empieza a convertirse en un Mini Portal
      de Clase Flask.
    </p>

    <hr />

    <h1>{{ titulo }}</h1>

    <a href="/acerca">Acerca</a>
    <a href="/Contacto">Contacto</a>

    <p>{{ mensaje }}</p>

    <p><strong>Usuario:</strong> {{ usuario }}</p>

    <p><strong>Fecha:</strong> {{ fecha }}</p>

    


  </body>
</html>